<!doctype html>

<html lang="en">
    <head>
      <% include partials/head.ejs %>
    </head>
<body>

<div class="container-fluid" >

            <!--== Navigation Bar Start  ==-->
        <% include partials/navbar.ejs %>
            <!-- == Error Messages == -->
        <% include partials/error_messages.ejs %>

            <!-- == Main body starts here == -->
        <% include partials/sidebar.ejs %>

        <div class="container mt-3" style="margin-left: 260px; width: 80%;">
            <h2>Vehicles</h2>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
            <br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Company name</th>
                  <th>Registration</th>
                  <th>Type</th>
                  <th>Driver Name</th>
                  <th>Driver Contact</th>
                </tr>
              </thead>
              <tbody id="myTable">
                  <% for(var i=0; i < results.length; i++) { %>
                    <tr>
                      <td><%= results[i].company_name %></td>
                      <td><%= results[i].registration %></td>
                      <td><%= results[i].vehicle_type %></td>
                      <td><%= results[i].driver %></td>
                      <td><%= results[i].driver_no %></td>
                    </tr>
                    <% } %>
              </tbody>
            </table>
            
          </div>
          

    </div>
            <!-- ## All Script files ## -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script>
                $(document).ready(function(){
                  $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                  });
                });
            </script>
</body>
</html>
