<!doctype html>

<html lang="en">

<head>
    <% include ../common/head.ejs %>
</head>

<body>
    <!--== Navigation + Side Bar Start  ==-->

    <% include ../common/sideBar.ejs %>
    <header id="header">
        <% include ../common/navBar.ejs %>
    </header>

    <!-- == Main body starts here == -->

    <div id="content-wrapper">
        <div class="mui--appbar-height"></div>
        <div class="mui-container">
            <br>
            <div class="mui-panel" style="margin-top: 1%; margin-left:1% ">
                <form method="POST" action="#" class="mui-form" style="margin-left: 10%; margin-top: 0%;">
                    <h1 style="margin-left: 5%;">Bill for vehicle</h1>
                    <div class="mui-row">
                        <div class="mui-select mui-col-md-4">
                            <select name="company">
                                <option> <%=  result['company']  %> </option>
                            </select>
                            <label>Select company</label>
                        </div>
                    </div>
                    <div class="mui-row">
                        <div class="mui-select mui-col-md-4">
                            <select name="vehicle">
                                <option> <%=  result['vehicle']  %> </option>
                            </select>
                            <label>Select vehicle</label>
                        </div>
                    </div>

                    <ul class="mui-list--inline">
                        <li>
                            <div class="mui-radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="Disel" checked>
                                    <%=  result['optionsRadios']  %>
                                </label>
                            </div>
                        </li>
                    </ul>

                    <div class="mui-row">
                        <div class="mui-textfield mui-col-md-4">
                            <input type="text" id="bread" name="quantity" required placeholder="Quantity"><span
                                class="totalbread"></span>
                        </div>
                        <div class="mui-col-md-2">
                            <p style="margin-top: 20px;">Ltr</p>
                        </div>
                    </div>

                    <ul class="mui-list--inline">
                        <li>
                            <h5>* Stock <strong> <%=  result['stock']  %> </strong> Ltr, </h5>
                        </li>
                        <li>
                            <h5>* Stock after sale <strong> <%=  result['after_stock']  %> </strong> Ltr</h5>
                        </li>
                    </ul>

                    <div class="mui-row">
                        <div class="mui-col-md-3">
                            <label>Beginning Date</label>
                            <input class="mui-panel" type="date" name="date1">
                        </div>
                        <div class="mui-col-md-3">
                            <label>Ending Date</label>
                            <input class="mui-panel" type="date" name="date2">
                        </div>
                    </div>

                    <h4>* Price <strong> <%=  result['price']  %> </strong> Per Ltr</h4>
                    <h4>* Discount <strong> <%=  result['discount']  %> </strong> % or per Ltr</h4>
                    <h3>* Total price <span class="totalprice"> <strong> [[]] </strong> </span </h3> <ul
                            class="mui-list--inline">
                        <li>
                            <button type="submit" class="mui-btn mui-btn--raised" disabled>Confirm</button>
                        </li>
                        <li>
                            <button type="submit" class="mui-btn mui-btn--raised">Print</button>
                        </li>
                        </ul>


                </form>
            </div>
        </div>
    </div>

    <footer id="footer" style="background-color: black;">
        <div class="mui-container-fluid">
            <br>
            <center> Made with ♥ by <a href="#">Bridge Tech</a> </center>
        </div>
    </footer>

    <script>

        $(document).ready(function () {
            //function to calculate total
            calculateTotal = function () {
                var total = (parseFloat($('#bread').val()) || 0.0);
                //alert(total);
                var p = "<%= price %>";
                var d = "<%= discount %>";
                var t = total * p;
                total = t - t * (d / 100);
                $('.totalprice').text(total);
            };
            $('#bread').keyup(function () {
                calculateTotal();
            });
        });

    </script>

</body>

</html>